/*  File: control.h
 *  Part of TailWimp Lite
 *  Copyright (C) 2021  Andreas Skyman (Bumbarrel Computing)
 * 
 *  Many features in this program are highly derivative of Steve Fryatt's
 *  examples from http://www.stevefryatt.org.uk/risc-os/wimp-prog which
 *  have been relicensed from European Union Public License v1.2 for the
 *  purpose of this program.
 * 
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 * 
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 * 
 *  You should have received a copy of the GNU General Public License
 *  along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

#ifndef TAILWIMP_CONTROL
#define TAILWIMP_CONTROL

#include "oslib/wimp.h"

#define control_KEY_ALT         0x80 ^ 2
#define control_KEY_LEFT_ALT    0x80 ^ 5
#define control_KEY_RIGHT_ALT   0x80 ^ 8
#define control_KEY_LEFT_LOGO   0x80 ^ 125
#define control_KEY_RIGHT_LOGO  0x80 ^ 126
#define control_KEY_LEFT        0x80 ^ 25
#define control_KEY_RIGHT       0x80 ^ 121
#define control_KEY_UP          0x80 ^ 57
#define control_KEY_DOWN        0x80 ^ 41
#define control_KEY_SPACE       0x80 ^ 98
#define control_KEY_RETURN      0x80 ^ 73

// Process keyboard input:
osbool control_process_key(wimp_key_no c);

// Scan for keyboard input:
osbool control_scan_key(void);

#endif
